<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Selecionar filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Animal</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Cachorro </ion-select-option>
      <ion-select-option value="m">Gato</ion-select-option>
      <ion-select-option value="m">Outros</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Macho</ion-select-option>
      <ion-select-option value="m">Femia</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cor</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Caramelo</ion-select-option>
      <ion-select-option value="m">Preto</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Porte</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Médio</ion-select-option>
      <ion-select-option value="m">Pequeno</ion-select-option>
      <ion-select-option value="m">Grande</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Idade</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Adultos </ion-select-option>
      <ion-select-option value="m">Filhotes</ion-select-option>
      <ion-select-option value="m">Idosos</ion-select-option>
    </ion-select>
  </ion-item>
 
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" color="success" > <b>SALVAR FILTROS</b></ion-button>
  </ion-toolbar>
</ion-footer>
